@import "./variables.scss";

.head {
    .id-col {
        text-align: left !important;
    }
    * {
        font-size: 0.9rem !important;
        color: $text-headers-color !important;
        font-weight: bolder !important;
    }
}
.row {
    transition: 0.3s;
    .icon {
        cursor: pointer;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        padding: 5px;
        transition: 0.5s;
    }
    &.add-note {
        cursor: pointer;
        * {
            cursor: pointer;
        }
    }
    &:hover {
        background-color: $orange-highlight;
        .icon {
            color: $text-white;
            width: 20px;
            height: 20px;
            padding: 5px;
            transition: 0.4s;
            &:hover {
                background-color: $dark-highlight;
            }
        }
        * {
            color: $text-white;
        }
    }
}

.id-col {
    width: 13% !important;
    text-align: right !important;
}
.detail-col {
    width: 15% !important;
    text-align: center !important;
}
.edit-col {
    width: 10% !important;
    text-align: center !important;
}
.del-col {
    width: 10% !important;
    text-align: center !important;
}
