//background - highlight colors
$main-color: rgba(255, 102, 0, 0.438);
$orange-highlight: rgba(255, 102, 0, 0.616);
$dark-highlight: rgba(64, 102, 107, 0.733);

//text - colors
$text-main: rgba(0, 0, 0, 0.445);
$text-white: white;
$text-headers-color: rgba(0, 0, 0, 0.8);
