//background - highlight colors
$main-color: rgba(255, 102, 0, 0.288);
$light-highlight: rgba(255, 102, 0, 0.705);

//text - colors
$text-main: rgba(0, 0, 0, 0.445);
$text-white: white;
$text-headers-color: rgba(0, 0, 0, 0.8);
